#ibenicSlider,#ibenicSlider2 {
  position: relative;
  margin: 0 auto;
}
#ibenicSlider .carousel-container,#ibenicSlider2 .carousel-container {
  overflow: hidden;
  margin: 0 auto;
}
#ibenicSlider .carousel-container li,{
  float: left;
  width: 136px;
 margin-right: 20px;
}

#ibenicSlider2 .carousel-container li{
  float: left;
  width: 136px;
  margin-right: 20px;
}


#ibenicSlider .carousel-control, #ibenicSlider2 .carousel-control {
  position: absolute;
  top: 20%;
  background-image:none;
}

#ibenicSlider .carousel-control.left {
  left:-20px;
}
#ibenicSlider .carousel-control.right {
  right:-20px;
}


