#ibenicSlider,#ibenicSlider2 {
  position: relative;
  margin: 0 auto;
}
#ibenicSlider .carousel-container,#ibenicSlider2 .carousel-container {
  overflow: hidden;
  margin: 0 auto;
}
#ibenicSlider .carousel-container .latestcovers li,
#ibenicSlider2 .carousel-container .latestcovers li{
  float: left;
  width: 136px;
  margin-right: 20px;
}
#ibenicSlider .carousel-control,
#ibenicSlider2 .carousel-control{
  background-image: none;
}
#ibenicSlider.carousel-control, #ibenicSlider2.carousel-control {
  position: absolute;
  top: 20%;
}


